*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    display: flex;
    background-color: rgb(176, 172, 172);
    padding: 5px;
    align-items: center;
    justify-content: space-around;
}
.items{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    
}
.banner-container{
    height: 100vh;
    background-image: url("./asset/image/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: overlay; */
    display: flex;
    align-items: center;
    text-align: center;
    
}
.title{
    
    font-size: 55px;
    font-weight: bold;color: white;
}
.primary{
    color: rgb(244, 12, 12);
}
.description{
    color: white;
    padding: 10px;
    width: 50%;margin: auto;

}
 .btn{
    padding: 12px 20px;
    border: none;
 }
 .bg-primary{
    background-color: red;
    color: white;
 }
 